<%= form_tag(posts_path method: :get) do %>
    Car model<%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
<% if @search.blank? %>
  <h4>There are no cars matching your request<%= params[:search] %>.</h4>
<% end %>