<%= render 'sign_in' %>

<h1>Vehicle Search</h1>


  
<div class="col-md-4">
      <p>Title</p>
      <p>Text</p>
      <p>Date</p>
  
    <%= render 'search' %>
    <%= render @posts %>

  
<%= render 'current_user_permission' %>

</div>
<br>
