<div class="container">
  <div class="row">

      <div class="col-md-4">
      
      <%= render 'search' %>
      <%= render @posts %>
      <%= render 'posts/current_user_permission' %>

    </div>
  </div>
</div>
<br>
