<%= render 'sign_in' %>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @posts %>
  </tbody>
</table>
  
<div id="button"><%= link_to 'Create New Post', new_post_path %></div>

<%= video_tag(
      "cars.mp4",
      id: "background",
      autoplay: true,
      loop: true,
      muted: true,
      poster: ""
)
%>

<br>
